header{
height: 150px;
background-image: url(https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666316532_20-mykaleidoscope-ru-p-otkritki-den-shokoladnogo-morozhenogo-pint-31.jpg);
text-align: center;
color: rgb(255, 135, 23);
padding: 25px;
font-size: 35px;
}

body{
    margin: 0px;
    background-color: rgb(255, 227, 185);
}

main{
    display: flex;
    justify-content: center;
}

.container{
    background-color: rgba(255, 214, 152, 0.5);
    width: 80%;
    padding: 20px;
}

.block1{
    font-size: 20px;
    text-align: justify;
}

.block2{
    background-color: rgba(255, 82, 82, 0.5);
}

.block3{
    background-color: rgba(165, 42, 42, 0.5);
}

footer{
    background-color: brown;
    padding: 20px;
    text-align: center;
    color: darkgray
}

.social img{
    width: 100px;
    padding: 10px;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}